:where(.css-dev-only-do-not-override-ijyuzh).ant-pagination .ant-pagination-item-active {
    font-weight: 600;
    background-color: black;
    border: none;
}

:where(.css-dev-only-do-not-override-ijyuzh).ant-pagination .ant-pagination-item-active a {
    color: white;
}
:where(.css-dev-only-do-not-override-ijyuzh).ant-pagination .ant-pagination-item a {
    color: rgb(255 255 255 / 88%);
}

span.anticon.anticon-right svg {
    color: white;
}
span.anticon.anticon-left svg {
    color: white;
}