/* 
:where(.css-dev-only-do-not-override-ndphr8).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    color: #5A015E !important;
    border-color: #5A015E !important;
}

:where(.css-dev-only-do-not-override-ndphr8).ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    color: #5A015E !important;
    border-color: #5A015E !important;
} */